.hero-display-box {
  width: 80%;
  margin: auto;
  padding: 50px;
  background-color: rgb(136, 136, 136);
  border: slateblue 1px solid;
  border-radius: 5px;
  margin-bottom: 50px;
}

.hero-display-box > * {
  text-align: center;
}

.clear_sky {
  background-color: rgb(238, 238, 136) !important;
}

.mist {
  background-color: rgb(181, 225, 240);
}

.broken_clouds {
  background-color: lightgray;
}

.overcast_clouds {
  background-color: lightslategray;
}
